# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
Awelee.iml
target/classes/META-INF/
target/classes/application-dev.properties
target/classes/application.properties
target/classes/banner.txt
target/classes/generator/
target/classes/mapper/
target/classes/static/
target/classes/templates/
target/classes/test.sql
target/generated-sources/
target/generated-test-sources/
